<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trackedApplications</key>
	<data>
	YnBsaXN0MDCvEBABBhATGRwiJSwvNThCRUtO0QIDVmJ1bmRsZdEEBVJfMF8QEWNvbS5y
	YXljYXN0Lm1hY29z0wcICQoMD1hsb2NhdGlvbl8QEW1lbnVJdGVtTG9jYXRpb25zWWlz
	QWxsb3dlZNECC9EEBaEN0QIO0QQFCdECEdEEEl8QFGNvbS50b29sYnVuY2guS2V5UGFk
	0wcICRQWD9ECFdEEEqEX0QIY0QQS0QIa0QQbXxATY29tLnZpdmFsZGkuVml2YWxkadMH
	CAkdHw/RAh7RBBuhINECIdEEG9ECI9EEJF8QHGNvbS5jcmVhdGl2ZS5pb3MuY3JlYXRp
	dmVhcHDTBwgJJigP0QIn0QQkoSnRAirRBCtfEBVjb20uY3JlYXRpdmUuYXNkcC5hcHDR
	Ai3RBC5fEBNkZXYua2RyYWcwbi5NYWNWaXJ00wcICTAyD9ECMdEELqEz0QI00QQu0QI2
	0QQ3WW5vdGlvbi5pZNMHCAk5Ow/RAjrRBDehPNE9PlthZGhvY0JpbmFyedEEP9FAQVhy
	ZWxhdGl2ZV8QcmZpbGU6Ly8vbml4L3N0b3JlL2E3bXJrYTY4NTU0anBmamxmaDB6anFo
	NXNtejRwMHYyLW5vdGlvbi1hcHAtNy4yNS4xL0FwcGxpY2F0aW9ucy9Ob3Rpb24uYXBw
	L0NvbnRlbnRzL01hY09TL05vdGlvbtECQ9EERF8QF2NvbS4xcGFzc3dvcmQuMXBhc3N3
	b3Jk0wcICUZID9ECR9EERKFJ0QJK0QRE0QJM0QRNXxAXY29tLmFwcGxlLlNjcmlwdE1v
	bml0b3LTBwgJT1EP0QJQ0QRNoVLRAlPRBE0ACAAbAB4AJQAoACsAPwBGAE8AYwBtAHAA
	cwB1AHgAewB8AH8AggCZAKAAowCmAKgAqwCuALEAtADKANEA1ADXANkA3ADfAOIA5QEE
	AQsBDgERARMBFgEZATEBNAE3AU0BVAFXAVoBXAFfAWIBZQFoAXIBeQF8AX8BgQGEAZAB
	kwGWAZ8CFAIXAhoCNAI7Aj4CQQJDAkYCSQJMAk8CaQJwAnMCdgJ4AnsAAAAAAAACAQAA
	AAAAAABUAAAAAAAAAAAAAAAAAAACfg==
	</data>
</dict>
</plist>
