<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComfortSoundsSelectedSound</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvECoLDBcYHh8lOTo7YWJjZGVm
	Z2hpamtsbW5vcHFycxZ0OHYyd3h5ent8gINVJG51bGzVDQ4PEBESExQVFl8QFkhVQ29t
	Zm9ydFNvdW5kQXNzZXRLZXlWJGNsYXNzXxAVSFVDb21mb3J0U291bmROYW1lS2V5XxAV
	SFVDb21mb3J0U291bmRQYXRoS2V5XxAWSFVDb21mb3J0U291bmRHcm91cEtleYAGgCmA
	AoADEAVUUmFpbtMZDhobHB1XTlMuYmFzZVtOUy5yZWxhdGl2ZYAAgAWABF8Qg2ZpbGU6
	Ly8vU3lzdGVtL0xpYnJhcnkvQXNzZXRzVjIvY29tX2FwcGxlX01vYmlsZUFzc2V0X0Nv
	bWZvcnRTb3VuZHNBc3NldHMvMjI5NzU1NWVmMTRkYWU4ZGRhNWI2ZWFiMDY5MzU2MDM2
	ZmQzYTNkNS5hc3NldC9Bc3NldERhdGEv0iAhIiNaJGNsYXNzbmFtZVgkY2xhc3Nlc1VO
	U1VSTKIiJFhOU09iamVjdNomJygpDiorLC0uLxUxMjM0NTY3OFdhc3NldElkW29yaWdp
	bmFsVVJMWWFzc2V0VHlwZV1mb3JtYXRWZXJzaW9uXWlzRG93bmxvYWRpbmdfEBRjb21w
	YXRpYmlsaXR5VmVyc2lvbl5jb250ZW50VmVyc2lvblpwcm9wZXJ0aWVzW2lzSW5zdGFs
	bGVkgAeAA4AIEASAKAgQARAAgAkJXxAoMjI5NzU1NWVmMTRkYWU4ZGRhNWI2ZWFiMDY5
	MzU2MDM2ZmQzYTNkNV8QKWNvbS5hcHBsZS5Nb2JpbGVBc3NldC5Db21mb3J0U291bmRz
	QXNzZXRz0zw9Dj5PYFdOUy5rZXlzWk5TLm9iamVjdHOvEBA/QEFCQ0RFRkdISUpLTE1O
	gAqAC4AMgA2ADoAPgBCAEYASgBOAFIAVgBaAF4AYgBmvEBBQUVJTVFVWV1cUWlVcXV5f
	gBqAG4AcgB2AHoAfgCCAIYAhgAKAIoAfgCOAJIAlgCaAJ18QD19VbmFyY2hpdmVkU2l6
	ZV5fX1JlbGF0aXZlUGF0aFVCdWlsZFpTb3VuZEdyb3VwXxAVX01lYXN1cmVtZW50QWxn
	b3JpdGhtXxAYX19DYW5Vc2VMb2NhbENhY2hlU2VydmVyXxAVX0NvbXByZXNzaW9uQWxn
	b3JpdGhtXUZvcm1hdFZlcnNpb25fEBRDb21wYXRpYmlsaXR5VmVyc2lvbllTb3VuZE5h
	bWVZX19CYXNlVVJMXxAQX0lzWmlwU3RyZWFtYWJsZV1fRG93bmxvYWRTaXplXF9NZWFz
	dXJlbWVudFlBc3NldFR5cGVfEBBfTWFzdGVyZWRWZXJzaW9uEgQMIABfEFZjb21fYXBw
	bGVfTW9iaWxlQXNzZXRfQ29tZm9ydFNvdW5kc0Fzc2V0cy81MzRkMDU4MjljMzg0OWYy
	M2RkNThhNDk2Mzc2MGY2NjM0YzU5OTJkLnppcFgxME0xMDcxMVVTSEEtMQlTemlwXxBf
	aHR0cHM6Ly91cGRhdGVzLmNkbi1hcHBsZS5jb20vMjAyNS9tb2JpbGVhc3NldHMvMDgy
	LTU1MTg0L0YxRDFCQTlGLTc4ODktNEVCNC04MjI5LTk2OEQ1MEVBODVFRS8SA/p5+k8Q
	FB5SIPbvdVIdqvxXf0N5vAYA0S3fXxApY29tLmFwcGxlLk1vYmlsZUFzc2V0LkNvbWZv
	cnRTb3VuZHNBc3NldHNVMTA3MTHSICF9fl8QE05TTXV0YWJsZURpY3Rpb25hcnmjfX8k
	XE5TRGljdGlvbmFyedIgIYGCV0FYQXNzZXSigSTSICGEhV5IVUNvbWZvcnRTb3VuZKKG
	JF5IVUNvbWZvcnRTb3VuZAAIABEAGgAkACkAMgA3AEkATABRAFMAgACGAJEAqgCxAMkA
	4QD6APwA/gEAAQIBBAEJARABGAEkASYBKAEqAbABtQHAAckBzwHSAdsB8AH4AgQCDgIc
	AioCQQJQAlsCZwJpAmsCbQJvAnECcgJ0AnYCeAJ5AqQC0ALXAt8C6gL9Av8DAQMDAwUD
	BwMJAwsDDQMPAxEDEwMVAxcDGQMbAx0DMAMyAzQDNgM4AzoDPAM+A0ADQgNEA0YDSANK
	A0wDTgNQA1IDZANzA3kDhAOcA7cDzwPdA/QD/gQIBBsEKQQ2BEAEUwRYBLEEugTABMEE
	xQUnBSwFQwVvBXUFegWQBZQFoQWmBa4FsQW2BcUFyAAAAAAAAAIBAAAAAAAAAIcAAAAA
	AAAAAAAAAAAAAAXX
	</data>
</dict>
</plist>
