<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllSpacesAndDisplays</key>
	<dict>
		<key>Linked</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Choices</key>
				<array>
					<dict>
						<key>Configuration</key>
						<data>
						YnBsaXN0MDDSAQIDBFR0eXBlU3Vy
						bFlpbWFnZUZpbGXRBQZYcmVsYXRp
						dmVfEENmaWxlOi8vL1VzZXJzL3dv
						cmsvUGljdHVyZXMvS2FpJTIwTm90
						ZWJvb2slMjAtJTIwTk9JUiUyMERl
						c2t0b3AucG5nCA0SFiAjLAAAAAAA
						AAEBAAAAAAAAAAcAAAAAAAAAAAAA
						AAAAAABy
						</data>
						<key>Files</key>
						<array/>
						<key>Provider</key>
						<string>com.apple.wallpaper.choice.image</string>
					</dict>
				</array>
				<key>EncodedOptionValues</key>
				<data>
				YnBsaXN0MDDRAQJWdmFsdWVz0AgLEgAAAAAAAAEBAAAA
				AAAAAAMAAAAAAAAAAAAAAAAAAAAT
				</data>
				<key>Shuffle</key>
				<string>$null</string>
			</dict>
			<key>LastSet</key>
			<date>2026-09-25T08:58:02Z</date>
			<key>LastUse</key>
			<date>2026-09-25T08:58:02Z</date>
		</dict>
		<key>Type</key>
		<string>linked</string>
	</dict>
	<key>Displays</key>
	<dict/>
	<key>Spaces</key>
	<dict/>
	<key>SystemDefault</key>
	<dict>
		<key>Linked</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Choices</key>
				<array>
					<dict>
						<key>Configuration</key>
						<data>
						YnBsaXN0MDDSAQIDBFR0eXBlU3Vy
						bFlpbWFnZUZpbGXRBQZYcmVsYXRp
						dmVfEENmaWxlOi8vL1VzZXJzL3dv
						cmsvUGljdHVyZXMvS2FpJTIwTm90
						ZWJvb2slMjAtJTIwTk9JUiUyMERl
						c2t0b3AucG5nCA0SFiAjLAAAAAAA
						AAEBAAAAAAAAAAcAAAAAAAAAAAAA
						AAAAAABy
						</data>
						<key>Files</key>
						<array/>
						<key>Provider</key>
						<string>com.apple.wallpaper.choice.image</string>
					</dict>
				</array>
				<key>EncodedOptionValues</key>
				<data>
				YnBsaXN0MDDRAQJWdmFsdWVz0AgLEgAAAAAAAAEBAAAA
				AAAAAAMAAAAAAAAAAAAAAAAAAAAT
				</data>
				<key>Shuffle</key>
				<string>$null</string>
			</dict>
			<key>LastSet</key>
			<date>2026-09-25T08:58:02Z</date>
			<key>LastUse</key>
			<date>2026-09-25T08:58:02Z</date>
		</dict>
		<key>Type</key>
		<string>linked</string>
	</dict>
</dict>
</plist>
